{% extends "base.html" %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Create new Option</a>
</li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url "poll_update" poll.pk %}">Update Poll</a>
</li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url "poll_delete" poll.pk %}">Delete Poll</a>
</li>
{% endblock %}

{% block content %}
<h4>Poll Details</h4>
    <dl class="row">
  <dt class="col-sm-3">Poll question:</dt>
  <dd class="col-sm-9">{{ poll.poll_question }}</dd>
    <dt class="col-sm-3">Please chose your answer:</dt>
        <br/>
    {% for option in poll.polls.all %}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ option.choice_text }}</h5>
      <small>ee</small>
    </div>
        <p class="mb-1">ee</p>
  </a>
    {% endfor %}
</div>
    {% if is_paginated %}
    {% include "partial/pagination.html" %}
    {% endif %}

</dl>
{% endblock %}
