{% extends "base.html" %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url "option_add" poll.pk %}">Add your Answer/Option</a>
</li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url "poll_update" poll.pk %}">Update Poll</a>
</li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url "poll_delete" poll.pk %}">Delete Poll</a>
</li>
{% endblock %}

{% block content %}
<h4>Poll Details</h4>
    <dl class="row">
  <dt class="col-sm-3">Poll question:</dt>
  <dd class="col-sm-9">{{ poll.poll_question }}</dd>
    <dt class="col-sm-3">Poll answers:</dt>
        <br/>
    {% for option in options %}
<div class="list-group">
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ option.choice_text }}</h5>
      <small><a href="{% url "option_delete" option.pk %}">Delete answer</a></small>
    </div>
        <p class="mb-1"><a href="{% url "option_update" option.pk %}">Update answer</a></p>
  </div>
    {% endfor %}
</div>

</dl>
{% endblock %}
